# For more info about `gitignore`, open a terminal and run:
#
#   man gitignore
#
# or
#
#   git help ignore
#
# Also, check git-scm.com/docs/gitignore and/or refer to github.com/github/gitignore (Xcode & Swift).

# Xcode
build/
DerivedData/
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside

# Other
.DS_Store
Carthage/Build